*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Major Mono Display';
    font-family: 'Source Code Pro';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='456' height='456' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23beb4b5' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23329828'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.max-width {
    max-width: 10000px; /* changed this max width from 600px? - julia: it was 900px before*/
    padding: 0 10px;
    margin: 10px;
}

/* navigation bar */
.nav {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    background-color: #000;
    z-index:1;
}

.nav .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .title a {
    text-decoration: none;
    color: #fff;
    font-family: 'Major Mono Display';
    font-size: 24px;
    font-weight: 900;
    transition: color 0.3s ease;
}

.nav .title a:hover {
    color: #c14a32;
}

.nav .menu li {
    display: inline-block;
}

.nav .menu li a {
    text-decoration: none;
    color: #5375a5;
    font-family: 'Source Code Pro';
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.nav .menu li a:hover {
    color: #7cd82f;
}

/* home section */
.home {
    display: flex;
    background-color: #403F3D;
    background: url("home.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: 'Major Mono Display';
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .h1 {
    font-family: 'Major Mono Display';
    font-size: 100px;
}

.home .home-content .h2 {
    font-family: 'Major Mono Display';
    font-size: 45px;
}

/* about section */
.about {
    display: flex;
    background-color: #000;
    background-size: contain;
    height: 100vh;
    color: white;
    font-family: 'Source Pro Code';
}

.about .max-width {
    margin: auto 0 auto 40px;
}

.about .about-content .h1 {
    font-family: 'Major Mono Display';
    font-size: 48px;
}

.about .about-content .h2 {
    font-size: 24px;
}

.about .about-content .h3 {
    font-size: 14px;
}

/* interests section */
section {
    padding: 100px 0;
}

.interests {
    display: flex;
    background-color: #000;
    background-size: contain;
    height: 100vh;
    color: white;
    font-family: 'Source Pro Code';
}

.interests .max-width {
    margin: auto 0 auto 40px;
}

.interests .interests-content .h1 {
    font-family: 'Major Mono Display';
    font-size: 48px;
}

.interests .interests-content .h2 {
    font-size: 24px;
}

.interests .interests-content .h3 {
    font-size: 12px;
}

/* experience section */
section {
    padding: 100px 0;
}
.experience {
    display: flex;
    background-color: #000;
    background-size: contain;
    height: 100vh;
    color: white;
    font-family: 'Source Pro Code';
}

.experience .max-width {
    margin: auto 0 auto 40px;
}

.experience .experience-content .h1 {
    font-family: 'Major Mono Display';
    font-size: 48px;
}

.experience .experience-content .h2 {
    font-size: 24px;
}

.experience .experience-content .h3 {
    font-size: 12px;
}

/* ---------------- projects section ------------------ */
section {
    padding: 100px 0;
}

.projects {
    display: grid;
    background-color: #000;
    background-size: contain;
    height: auto;
    color: white;
    font-family: 'Source Pro Code';
}

.projects .max-width {
    margin: auto 0 auto 40px;
}

.projects .projects-content .h1 {
    font-family: 'Major Mono Display';
    font-size: 48px;
}

.projects .projects-content .h2 {
    font-size: 24px;
}

.projects .projects-content .h3 {
    font-size: 14px;
}

/* CSS for Project Cards */

body2 {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 overflow: hidden;
	 font-family: 'Roboto', sans-serif;
}
 body2 .credit {
	 position: absolute;
	 bottom: 20px;
	 left: 20px;
	 color: #000;
}
 body2 .options {
	 display: flex;
	 flex-direction: row;
	 align-items: stretch;
	 overflow: hidden;
	 min-width: 600px;
	 /*max-width: 1000px;*/
	 width: calc(100% - 100px);
	 height: calc(100vh - 150px);
}
 @media screen and (max-width: 718px) {
	 body2 .options {
		 min-width: 520px;
	}
	 body2 .options .option:nth-child(5) {
		 display: none;
	}
}
 @media screen and (max-width: 638px) {
	 body2 .options {
		 min-width: 440px;
	}
	 body2 .options .option:nth-child(4) {
		 display: none;
	}
}
 @media screen and (max-width: 558px) {
	 body2 .options {
		 min-width: 360px;
	}
	 body2 .options .option:nth-child(3) {
		 display: none;
	}
}
 @media screen and (max-width: 478px) {
	 body2 .options {
		 min-width: 280px;
	}
	 body2 .options .option:nth-child(2) {
		 display: none;
	}
}
 body2 .options .option {
	 position: relative;
	 overflow: hidden;
	 min-width: 80px;
	 margin: 10px;
	 background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
	 background-size: auto 120%;
	 background-position: center;
	 cursor: pointer;
	 transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 body2 .options .option:nth-child(1) {
	 --defaultBackground: #ed5565;
}
 body2 .options .option:nth-child(2) {
	 --defaultBackground: #fc6e51;
}
 body2 .options .option:nth-child(3) {
	 --defaultBackground: #ffce54;
}
 body2 .options .option:nth-child(4) {
	 --defaultBackground: #2ecc71;
}
 body2 .options .option:nth-child(5) {
	 --defaultBackground: #5d9cec;
}
 body2 .options .option:nth-child(6) {
	 --defaultBackground: #ac92ec;
}
 body2 .options .option.active {
	 flex-grow: 10000;
	 transform: scale(1);
	 max-width: 1600px; /* Changed from 600 */
	 margin: 0px;
	 border-radius: 40px;
	 background-size: auto 100%;
	/*&:active {
		 transform:scale(0.9);
	}
	*/
}
 body2 .options .option.active .shadow {
	 box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
 body2 .options .option.active .label {
	 bottom: 20px;
	 left: 20px;
}
 body2 .options .option.active .label .info > div {
	 left: 0px;
	 opacity: 1;
}
 body2 .options .option:not(.active) {
	 flex-grow: 1;
	 border-radius: 30px;
}
 body2 .options .option:not(.active) .shadow {
	 bottom: -40px;
	 box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
 body2 .options .option:not(.active) .label {
	 bottom: 10px;
	 left: 5px;
}
 body2 .options .option:not(.active) .label .info > div {
	 left: 20px;
	 opacity: 0;
}
 body2 .options .option .shadow {
	 position: absolute;
	 bottom: -10px;
	 left: -10px;
	 right: -10px;
	 height: 120px;
	 transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 body2 .options .option .label {
	 display: flex;
	 position: absolute;
	 right: 0px;
	 height: 40px;
	 transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
 body2 .options .option .label .icon {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 min-width: 40px;
	 max-width: 40px;
     margin-left: 10px;
	 height: 40px;
	 border-radius: 100%;
	 background-color: white;
	 color: var(--defaultBackground);
}
 body2 .options .option .label .info {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 margin-left: 10px;
     margin-top: -5px;
	 color: white;
	 white-space: pre;
}
 body2 .options .option .label .info > div {
	 position: relative;
	 transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
 body2 .options .option .label .info .main {
	 font-weight: bold;
	 font-size: 1.2rem;
}
 body2 .options .option .label .info .sub {
	 transition-delay: 0.1s;
     white-space: initial;
     margin-top: 0px; 
     font-size: 0.9rem;
}

#parent {
  display: flex;
}
#narrow {
  width: 350px;
  /* Just so it's visible */
}
#wide {
  flex: 1;
    overflow:hidden;
  /* Grow to rest of container */
}

/* contact section */
section {
    padding: 100px 0;
}

.contact {
    display: flex;
    background-color: #000;
    background-size: contain;
    height: 100vh;
    color: white;
    font-family: 'Source Pro Code';
}

.contact .max-width {
    margin: auto 0 auto 40px;
}

.contact .contact-content .h1 {
    font-family: 'Major Mono Display';
    font-size: 48px;
    font-weight: bold;
}

.contact .contact-content .h2 {
    font-size: 20px;
}

.contact .contact-content .h3 {
    font-size: 18px;
    font-weight: 600;
}

table{
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border-radius: 20px;
}

table td{
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
}

input {
    width: 95%;
    padding: 5px;
    border: 3px inset #6b9ed7;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Courier';
    font-weight: bold;
}

input[type=submit] {
    padding: 10px;
    width: 25%;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #383838;
    transition: 0.3s;
}

input[type=submit]:hover {
    background-color: #6b9ed7;
}

textarea {
    width: 95%;
    padding: 5px;
    background-color: #fff;
    border: 3px inset #7cd82f;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Courier';
    font-weight: bold;
}

#fn1{
    width : 20%;
}
 